* {
    margin: 0;
    padding: 0;
}

* body {
    margin: 0;
    padding: 5%;

    background-image: url(horde.jpg);
    background-size: cover;
    background-position: center;
}

p,
h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    color: green;
    line-height: 1.5;
}

#showcase {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase img {
    border: yellowgreen solid;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    margin-top: 80px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.5;
}

#showcase p {
    font-size: 20px;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: greenyellow;
    border: #bb7c45 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 16px;
    display: inline-block;
}

/*pseudo-element hover*/
#showcase .button:hover {
    background: #bb7c45;
    color: white;
}

section {
    display: inline-flex;
    flex-direction: column;
}

div {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    background-color: yellowgreen;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*first-letterpseudo-element*/
#parrafo::first-letter {
    background-color: pink;
    color: red;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 500%;
}

/*visited pseudo-element*/
a:link {
    background-color: lightblue;
}

a:visited {
    background-color: red;
}

/* focus pseudo-element*/
input:focus {
    border: red 2px dotted;
    padding: 2px;
}
/* :nth-child() pseudo-element*/
#conatiner{
    margin: 100px auto;
    max-width: 700px;
  }
li {
    margin-bottom: 1em;
    padding: .25em .5em;
  }
  
  li:nth-child(2n+1) {
    background-color: green;
  }